.cuahang {
    display: flex;

    h3 {
        padding-top: 15px;
        margin-right: 10px;
    }

    a {
        font-size: 40px;
        color: red;
    }
}

.result {
    display: flex;
}

#moneycantra {
    font-size: 30px;
}